body {
    background-color: rgb(240, 240, 240);
}

.form-check-input {
    cursor: pointer;
}

.remove-task {
    cursor: pointer;
}

.done-task {
    text-decoration: line-through;
}

.card-title {
    color: rgb(173, 173, 173);
}

.copyright {
    font-size: 10px;
    color: rgb(173, 173, 173);
}

ul  {
    list-style: none;
}

ul li {
    cursor: pointer;
}

ul li input {
    border: none;
}

ul li:hover {
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

ul li input:hover {
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

ul li.new-list {
    cursor: text;
}

.selected-list {
    font-weight: bold;
}