body {
    background-color: rgb(240, 240, 240);
}

.form-check-input {
    cursor: pointer;
}

.remove-task {
    cursor: pointer;
}

.done-task {
    text-decoration: line-through;
}

.card-title {
    color: rgb(173, 173, 173);
}

.copyright {
    font-size: 10px;
    color: rgb(173, 173, 173);
}

ul.menu  {
    list-style: none;
}

ul.menu li {
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

ul.menu li span.taks-counter {
    float: right;
    font-weight: bold;
}

ul.menu li input {
    border: none;
}

ul.menu li:hover {
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

ul.menu li input:hover {
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

ul.menu li.new-list {
    cursor: text;
}

ul.menu li.selected {
    font-weight: bold;
}